<section id="author">


    <div class="author_card">

        <div class="author_info">
            <h3>About the Author:
                <br>
                <span>Bryan Aulds</span></h3>
            <img src="/images/line_h2.svg" alt="">
            <p>Bryan is a founder of Privacypros.io and Billfodl. He is also 1/4th of the <a href="https:www.unhashedpodcast.com" target="_blank">Unhashed podcast</a>. In his spare time, he's flying an airplane or a helicopter. <a href="https://twitter.com/bryanaulds" target="_blank" rel="nofollow">Follow him</a> on twitter.</p>
        </div>
        <!--author_info-->

        <div class="author_card_image">
            <img src="/images/bryan.png">
        </div>
        <!--image-->

    </div>
</section>