<section id="author">


    <div class="author_card">

        <div class="author_info">
            <h3>About the Author:
                <br>
                <span>Chris Palasz</span></h3>
            <img src="/images/line_h2.svg" alt="">
            <p>Chris is a freelance writer and graduate student living in China. You can read his articles on his blog <a href="http://carbonchris.com"
                    target="_blank" rel="nofollow">here</a>. He is also a former organizer of the <a href="https://www.meetup.com/seoulbitcoin/">Seoul Bitcoin Meetup</a>. <a
                    href="https://twitter.com/chrispalasz" target="_blank" rel="nofollow">Follow him</a> on twitter.</p>
        </div>
        <!--author_info-->

        <div class="author_card_image">
            <img src="/images/chris.png">
        </div>
        <!--image-->

    </div>
</section>