<div class="container">
  <div class="convertica-table-new heading"> 
    <div class="row">
      <div class="col-md-12"><p>COMPARISON</p></div>
    </div>
  </div>

<div class="convertica-table-new convertica-table-new-content">

{% if page.wallets contains 'nanox' %}
<div class="row">
<div class="col-md-2"><img src="/images/hwpics/nanox.png"></div>
<div class="col-md-5">
            <h4><a {% if page.title == "Ledger Nano X Review" %}target="_blank" href="https://shop.ledger.com/pages/ledger-nano-x?r=0ee3"
                    {% else %}href="/ledger/nano-x-review/" {% endif %}>Ledger Nano X</a></h4>
    <ul>
<li><b>SCREEN:</b></li>
<li><b>RELEASED:</b> 2019 </li>
<li><b>PRICE:</b> $119</li>
</ul></div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Ledger Nano X Review" %}href="https://shop.ledger.com/pages/ledger-nano-x?r=0ee3"
            target="_blank" {% else %}href="/ledger/nano-x-review/" {% endif %}>LEARN MORE</a></div>
    </div>
{% endif %}

{% if page.wallets contains 'nanos' %}
<div class="row">
<div class="col-md-2"><img src="/images/hwpics/nanos.png"></div>
<div class="col-md-5">
            <h4><a {% if page.title == "Ledger Nano S Review" %}target="_blank" href="https://shop.ledger.com/products/ledger-nano-s?r=0ee3" 
                {% else %}href="/ledger/nano-s-review/" {% endif %}>Ledger Nano S</a></h4>
    <ul>
<li><b>SCREEN:</b></li>
<li><b>RELEASED:</b> 2016 </li>
<li><b>PRICE:</b> $59</li>
</ul></div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Ledger Nano S Review" %}href="https://shop.ledger.com/products/ledger-nano-s?r=0ee3" target="_blank"
            {% else %}href="/ledger/nano-s-review/" {% endif %}>LEARN MORE</a></div>
    </div>
{% endif %}

{% if page.wallets contains 'trezort' %}
<div class="row">
<div class="col-md-2"><img src="/images/hwpics/trezort.png"></div>
<div class="col-md-5">
            <h4><a {% if page.title == "Trezor Model T Review" %}target="_blank" href="https://shop.privacypros.io/pages/trezor-t"
                    {% else %}href="/trezor/model-t-review/" {% endif %}>Trezor Model T</a></h4>
    <ul>
<li><b>SCREEN:</b></li>
<li><b>RELEASED:</b> 2018</li>
<li><b>PRICE:</b> $119</li>
</ul></div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Trezor Model T Review" %}href="https://shop.privacypros.io/pages/trezor-t" target="_blank"
            {% else %}href="/trezor/model-t-review/" {% endif %}>LEARN MORE</a></div>
    </div>
{% endif %}

{% if page.wallets contains 'trezorone' %}
<div class="row">
<div class="col-md-2"><img src="/images/hwpics/trezor.png"></div>
<div class="col-md-5">
            <h4><a {% if page.title == "Trezor One Review" %}target="_blank" href="https://shop.privacypros.io/pages/trezor-one" 
                    {% else %}href="/trezor/one-review/" {% endif %}>Trezor One</a></h4>
<ul>
<li><b>SCREEN:</b></li>
<li><b>RELEASED:</b> 2013 </li>
<li><b>PRICE:</b> $59</li>
</ul></div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Trezor One Review" %}href="https://shop.privacypros.io/pages/trezor-one"
            target="_blank" {% else %}href="/trezor/one-review/" {% endif %}>LEARN MORE</a></div>
    </div>
{% endif %}

{% if page.wallets contains 'coldcard' %}
<div class="row">
    <div class="col-md-2"><img src="/images/hwpics/coldcard.png"></div>
    <div class="col-md-6">
        <h4><a {% if page.title == "Coldcard Review" %}target="_blank" href="https://store.coinkite.com/promo/84A0BF46704387C59C8D"
                {% else %}href="https://store.coinkite.com/promo/84A0BF46704387C59C8D" {% endif %}>Coldcard Mk 3</a></h4>
        <ul>
            <li><b>SCREEN:</b></li>
            <li><b>RELEASED:</b> 2019 </li>
            <li><b>PRICE:</b> $119</li>
        </ul>
    </div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Coldcard Review" %}href="https://store.coinkite.com/promo/84A0BF46704387C59C8D" target="_blank"
            {% else %}href="/coldcard/mk-3-review/" {% endif %}>LEARN MORE</a></div>
</div>
{% endif %}

{% if page.wallets contains 'brd' %}
<div class="row">
    <div class="col-md-2"><img src="/images/wallets/breadwallet.png"></div>
    <div class="col-md-6">
        <h4><a {% if page.title == "BRD Review" %}target="_blank" rel="nofollow" href="https://brd.com/"
                {% else %}href="https://brd.com/" {% endif %}>BRD</a></h4>
        <ul>
            <li>Great wallet for iOS and Android</li>
            <li>Supports many coins, like BTC and ETH</li>
            <li>Clean interface makes it easy to use</li>
        </ul>
    </div>
    <div class="col-md-4"><a class="button nounderline" {% if page.title == "BRD Review" %}href="https://brd.com/"
            target="_blank" rel="nofollow" {% else %}href="https://brd.com/" {% endif %}>Learn More</a></div>
</div>
{% endif %}


{% if page.wallets contains 'electrum' %}
<div class="row">
    <div class="col-md-2"><img src="/images/wallets/electrum.png"></div>
    <div class="col-md-6">
        <h4><a {% if page.title == "Electrum Review" %}href="https://electrum.org/" target="_blank" rel="nofollow"
                {% else %}href="https://electrum.org/" {% endif %}>Electrum</a></h4>
        <ul>
            <li>Desktop wallet that works for Mac, Windows and Linux</li>
            <li>Simple to use, but also offers power features for experienced users</li>
            <li>Can connect to hardware wallets</li>
        </ul>
    </div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Electrum Review" %}href="https://electrum.org/" target="_blank" rel="nofollow"
            {% else %}href="https://electrum.org/" {% endif %}>Learn More</a></div>
</div>
{% endif %}


{% if page.wallets contains 'samourai' %}
<div class="row">
    <div class="col-md-2"><img src="/images/wallets/samourai.jpg"></div>
    <div class="col-md-6">
        <h4><a {% if page.title == "Samourai Wallet Review" %}target="_blank" rel="nofollow"
                href="https://samouraiwallet.com/" {% else %}href="https://samouraiwallet.com/" {% endif %}>Samourai</a></h4>
        <ul>
            <li>Bitcoin wallet with lots of unique features</li>
            <li>Supports Bitcoin only</li>
            <li>Wallet focused on privacy</li>
        </ul>
    </div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Samourai Wallet Review" %}href="https://samouraiwallet.com/" target="_blank"
            rel="nofollow" {% else %}href="https://samouraiwallet.com/" {% endif %}>Learn More</a></div>
</div>
{% endif %}

{% if page.wallets contains 'schild' %}
<div class="row">
    <div class="col-md-2"><img src="/images/wallets/bwallet.png"></div>
    <div class="col-md-6">
        <h4><a {% if page.title == "Schildbach Wallet Review" %}target="_blank" rel="nofollow"
                href="https://play.google.com/store/apps/details?id=de.schildbach.wallet&hl=en"
                {% else %}href="https://play.google.com/store/apps/details?id=de.schildbach.wallet&hl=en" {% endif %}>Schildbach Wallet</a></h4>
        <ul>
            <li>Only supports Bitcoin</li>
            <li>Clean interface, not confusing for new users</li>
            <li>One of the oldest Bitcoin wallets</li>
        </ul>
    </div>
    <div class="col-md-4"><a class="button nounderline"
            {% if page.title == "Schildbach Wallet Review" %}href="https://play.google.com/store/apps/details?id=de.schildbach.wallet&hl=en"
            target="_blank" rel="nofollow" {% else %}href="/wallets/schildbach/" {% endif %}>Learn More</a></div>
</div>
{% endif %}

</div>

</div>
  
<style>

    .nounderline {
        text-decoration: none;
    }
    .heading p {
        margin: 0;
        font-weight: bold;
        text-align: center;
        color: #eee;
    }

    .convertica-table-new.top {
        padding: 0;
    }

    .heading {
        background: #176bb8;
        color: #fff;
        padding: 12px 5px;
        padding-left: 50px;
    }

    .convertica-table-new-content .col-md-2 {
        text-align: center;
    }

    .convertica-table-new-content img {
        max-height: 100px;
    }

    .convertica-table-new-content h4 {
        margin-top: 0 !important;
    }

    .convertica-table-new-content h4 a {
        color: #195286;
        font-size: 23px;
        font-weight: bold;
        text-decoration: underline;
    }

    a.button:after {
        content: "\f178";
        font-family: fontawesome;
        margin-left: 10px;
    }

    .convertica-table-new-content .row {
        border-bottom: 1px solid #eee;
        padding: 10px 10px;
    }

    .convertica-table-new-content {
        padding: 0;
        border: 1px solid #eee;
        border-bottom: none;
    }

    a.button {
        background: #5ab85c;
        color: #fff;
        padding: 12px;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        border-bottom: 4px solid #3e8040;
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    a.button:hover {
        color: #000;
    }

    .convertica-table-new-content ul li:nth-child(1):after {
        content: "\f00c";
        font-family: fontawesome;
        margin-left: 10px;
        color: #1fa67a;
    }

    .non-hw ul li:nth-child(1):after {
        content: none !important;
    }

    @media screen and (max-width:900px) {
        a.button {
            margin: 50px 0;
        }
    }

    @media screen and (max-width:575px) {
        .convertica-table-new {
            width: 100%;
        }

        .convertica-table-new.heading {
            background: #176bb8 !important;
            color: #fff;
            text-align: center;
            border-bottom: 3px solid #176bb8;
            padding: 10px;
            border-radius: 10px 10px 0 0;
        }

        .convertica-table-new-content .row {
            margin: 0;
            padding: 0;
        }

        .convertica-table-new.convertica-table-new-content {
            text-align: center;
            border: none;
        }

        .convertica-table-new-content .row {
            padding: 50px 0;
        }

        .convertica-table-new-content a.button {
            width: 100% !important;
        }

        .convertica-table-new-content ul {
            width: 245px;
            margin: 20px auto;
            text-align: left;
        }

        .convertica-table-new-content img {
            height: 150px;
            margin: 30px;
        }
    }
</style>