<div class="container">
	<div class="convertica-table-new heading">
		<div class="row">
			<div class="col-md-12"><p>COMPARISON</p></div>
		</div>
	</div>

	<div class="convertica-table-new convertica-table-new-content">
		{% if page.table contains 'etoro' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/etoro.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="http://partners.etoro.com/B9157_A84703_TClick_SBillfodl.aspx"
						>Etoro</a
					>
				</h4>
				<ul>
					<li>Start trading fast; high limits</li>
					<li>Easy way for newcomers to get bitcoins</li>
					<li>Your capital is at risk</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="http://partners.etoro.com/B9157_A84703_TClick_SBillfodl.aspx"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'coinberry' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/coinberry.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://coinberry.com?utm_source=affiliate&utm_campaign=2RskzsiL_Vz4ushH1Rhu"
						>CoinBerry</a
					>
				</h4>
				<ul>
					<li>Crypto exchange based in Canada</li>
					<li>Very high buy and sell limits</li>
					<li>Supports credit & debit card, Interac, wire</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://coinberry.com?utm_source=affiliate&utm_campaign=2RskzsiL_Vz4ushH1Rhu"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'bitbuy' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/bitbuy1.png" /></div>
			<div class="col-md-7">
				<h4><a target="_blank" rel="nofollow" href="">BitBUy</a></h4>
				<ul>
					<li>Fast way to buy bitcoins</li>
					<li>Very high buy and sell limits</li>
					<li>Can handle large buys through OTC desk</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a target="_blank" rel="nofollow" class="button nounderline" href=""
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'coinbase' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/coinbase.png" /></div>
			<div class="col-md-7">
				<h4><a target="_blank" rel="nofollow" href="">Coinbase</a></h4>
				<ul>
					<li>High liquidity and buying limits</li>
					<li>Easy way for newcomers to get bitcoins</li>
					<li>"Instant Buy" option available with debit card</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a target="_blank" rel="nofollow" class="button nounderline" href=""
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'river' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/river.png" /></div>
			<div class="col-md-7">
				<h4><a target="_blank" rel="nofollow" href="">River</a></h4>
				<ul>
					<li>Bitcoin exchange based in USA</li>
					<li>Very high buy and sell limits</li>
					<li>Clean, professional interface</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a target="_blank" rel="nofollow" class="button nounderline" href=""
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'coinmama' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/coinmama.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://go.coinmama.com/visit/?bta=59667&brand=coinmama"
						>Coinmama</a
					>
				</h4>
				<ul>
					<li>Works in almost all countries</li>
					<li>Highest limits for buying bitcoins with a credit card</li>
					<li>Reliable and trusted broker</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://go.coinmama.com/visit/?bta=59667&brand=coinmama"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'cbpro' %}
		<div class="row">
			<div class="col-md-2">
				<img src="/images/exchanges/coinbaseexchange.png" />
			</div>
			<div class="col-md-7">
				<h4><a target="_blank" rel="nofollow" href="">Coinbase Pro</a></h4>
				<ul>
					<li>Some of the lowest fees available for US and EU customers</li>
					<li>Possible to buy bitcoins for 0% fees</li>
					<li>Run by Coinbase</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a target="_blank" rel="nofollow" class="button nounderline" href=""
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'kraken' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/kraken.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="//r.kraken.com/c/2076302/741638/10583"
						>Kraken</a
					>
				</h4>
				<ul>
					<li>Great liquidity and low fees</li>
					<li>Supports most countries</li>
					<li>Trusted exchange, started in 2011</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="//r.kraken.com/c/2076302/741638/10583"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'luno' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/luno.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://www.luno.com/invite/X295DV "
						>Luno</a
					>
				</h4>
				<ul>
					<li>Good choice for Europe, easy to use</li>
					<li>SEPA & credit card supported</li>
					<li>Does NOT support the United States</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://www.luno.com/invite/X295DV "
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'cex' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/cexio.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://cex.io/r/2/up129448888/2"
						>Cex.io</a
					>
				</h4>
				<ul>
					<li>Support for many countries and regions</li>
					<li>SEPA & credit card supported</li>
					<li>Trusted exchange around since 2013</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://cex.io/r/2/up129448888/2"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'local' %}
		<div class="row">
			<div class="col-md-2">
				<img src="/images/exchanges/localbitcoins.png" />
			</div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://localbitcoins.com/buy-bitcoins-online/?ch=17gk2"
						>Local Bitcoins</a
					>
				</h4>
				<ul>
					<li>Support for nearly every country</li>
					<li>Wide range of payment methods accepted</li>
					<li>Trusted exchange around since 2012</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://localbitcoins.com/buy-bitcoins-online/?ch=17gk2"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'panda' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/bitpanda.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://www.bitpanda.com/?ref=226136914911549201"
						>Bitpanda</a
					>
				</h4>
				<ul>
					<li>Best for Germany, Netherlands, Italy, France & rest of Europe</li>
					<li>Does NOT support USA</li>
					<li>Trusted exchange</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://www.bitpanda.com/?ref=226136914911549201e"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'paybis' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/paybis.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://aff-tracking.paybis.com/click?pid=122&offer_id=11"
						>PayBis</a
					>
				</h4>
				<ul>
					<li>Accepts Credit and Debit Card</li>
					<li>Supports most countries</li>
					<li>5 minute ID verification</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://aff-tracking.paybis.com/click?pid=122&offer_id=1"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'bitfinex' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/bitfinex.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://www.bitfinex.com/?refcode=7Yi2SAPY"
						>Bitfinex</a
					>
				</h4>
				<ul>
					<li>Very low fees</li>
					<li>Good choice for advanced traders</li>
					<li>Most liquidity</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://www.bitfinex.com/?refcode=7Yi2SAPY"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'bittrex' %}
		<div class="row">
			<div class="col-md-2">
				<img
					src="https://bittrex.com/Account/Register?referralCode=DEJ-H4V-NGR"
				/>
			</div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://localbitcoins.com/buy-bitcoins-online/?ch=17gk2"
						>Bittrex</a
					>
				</h4>
				<ul>
					<li>Tons of trading pairs</li>
					<li>Cheap fees</li>
					<li>Easy to use interface</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://bittrex.com/Account/Register?referralCode=DEJ-H4V-NGR"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'bitmex' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/bitmex.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://www.bitmex.com/register/DxSFqT"
						>Bitmex</a
					>
				</h4>
				<ul>
					<li>Trusted exchange founded in 2014</li>
					<li>No fiat purchases</li>
					<li>High leverage margin trading (up to 100x)</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://www.bitmex.com/register/DxSFqT"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %} {% if page.table contains 'binance' %}
		<div class="row">
			<div class="col-md-2"><img src="/images/exchanges/binance.png" /></div>
			<div class="col-md-7">
				<h4>
					<a
						target="_blank"
						rel="nofollow"
						href="https://www.binance.com/en/register?ref=39182248"
						>Binance</a
					>
				</h4>
				<ul>
					<li>Largest exchange on Earth</li>
					<li>Easy to use</li>
					<li>Low fees</li>
				</ul>
			</div>
			<div class="col-md-3">
				<a
					target="_blank"
					rel="nofollow"
					class="button nounderline"
					href="https://www.binance.com/en/register?ref=39182248"
					>BUY NOW</a
				>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<style>
	.nounderline {
		text-decoration: none;
	}
	.heading p {
		margin: 0;
		font-weight: bold;
		text-align: center;
		color: #eee;
	}

	.convertica-table-new.top {
		padding: 0;
	}

	.heading {
		background: #176bb8;
		color: #fff;
		padding: 12px 5px;
		padding-left: 50px;
	}

	.convertica-table-new-content .col-md-2 {
		text-align: center;
	}

	.convertica-table-new-content img {
		max-height: 100px;
	}

	.convertica-table-new-content h4 {
		margin-top: 0 !important;
	}

	.convertica-table-new-content h4 a {
		color: #195286;
		font-size: 23px;
		font-weight: bold;
		text-decoration: underline;
	}

	a.button:after {
		content: "\f178";
		font-family: fontawesome;
		margin-left: 10px;
	}

	.convertica-table-new-content .row {
		border-bottom: 1px solid #eee;
		padding: 10px 10px;
	}

	.convertica-table-new-content {
		padding: 0;
		border: 1px solid #eee;
		border-bottom: none;
	}

	a.button {
		background: #5ab85c;
		color: #fff;
		padding: 12px;
		display: inline-block;
		width: 100%;
		text-align: center;
		border-radius: 5px;
		border-bottom: 4px solid #3e8040;
		margin-top: 30px;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
	}

	a.button:hover {
		color: #000;
	}

	.non-hw ul li:nth-child(1):after {
		content: none !important;
	}

	@media screen and (max-width: 900px) {
		a.button {
			margin: 50px 0;
		}
	}

	@media screen and (max-width: 575px) {
		.convertica-table-new {
			width: 100%;
		}

		.convertica-table-new.heading {
			background: #176bb8 !important;
			color: #fff;
			text-align: center;
			border-bottom: 3px solid #176bb8;
			padding: 10px;
			border-radius: 10px 10px 0 0;
		}

		.convertica-table-new-content .row {
			margin: 0;
			padding: 0;
		}

		.convertica-table-new.convertica-table-new-content {
			text-align: center;
			border: none;
		}

		.convertica-table-new-content .row {
			padding: 50px 0;
		}

		.convertica-table-new-content a.button {
			width: 100% !important;
		}

		.convertica-table-new-content ul {
			width: 245px;
			margin: 20px auto;
			text-align: left;
		}

		.convertica-table-new-content img {
			height: 150px;
			margin: 30px;
		}
	}
</style>
