<div class="tablescroll" aria-labelledby="nutrients" role="region" tabindex="0">
    <table>
        <caption>Popular Exchanges</caption>
        <tbody>
            <tr>
                <td><img class="convert-table-img" src="/images/buy/etoro90.png" /></td>
                <td><b>Etoro</b>: Best for European and US customers</td>
                <td><button><a href="http://partners.etoro.com/B9157_A84703_TClick_SBillfodl.aspx" rel="nofollow" target="blank"><b>BUY NOW</b></a></button></td>
            </tr>

            <tr>
                <td><img class="convert-table-img" src="/images/buy/kraken.png" /></td>
                <td><b>Kraken</b>: Best for Safe Trades</td>
                <td><button><a href="r.kraken.com/c/2076302/741638/10583" rel="nofollow" target="blank"><b>BUY NOW</b></a></button></td>
            </tr>

            <tr>
                <td><img class="convert-table-img" src="/images/buy/coinmama90.png" /></td>
                <td><b>Coinmama</b>: Best for Easy Signups</td>
                <td><button><a href="https://go.coinmama.com/visit/?bta=59667&brand=coinmam" rel="nofollow" target="blank"><b>BUY NOW</b></a></button></td>
            </tr>

        </tbody>
    </table>
</div>