  <!---HEADER-->
  <section id="header" role="banner" class="nav-wrapper">

    <div id="header-inner" class="group nav-inner">
  
      <div id="logo" class="nav-logo">
      <a href="/">
      <img src="/images/hero.jpg" alt="logo" width="120px">
      </a>
      </div>
  
      <a href="#nav" id="toggle-nav" class="toggle-nav" aria-label="Toggle Navigation">
        <div class="hamburger" id="hamburger-1">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </a> <!---hamburger icon-->
  
  
      <div id="mobile-nav" class="mobile-nav">
  
        <ul class="mobile-nav-main">


        
  
        
            <li><a href="/About">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
  
         

      </div>

      <div class="social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>

    </div>
  </section>