  <!---HEADER-->
  <section id="header" role="banner" class="nav-wrapper">

    <div id="header-inner" class="group nav-inner">

      <div id="logo" class="nav-logo">
      <a href="/">
        <img src="/images/usaclogo.png" alt="logo" width="120px">
      </a>
      </div>

      <a href="#nav" id="toggle-nav" class="toggle-nav" aria-label="Toggle Navigation">
        <div class="hamburger" id="hamburger-1">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </a> <!---hamburger icon-->


      <div id="mobile-nav" class="mobile-nav">

        <ul class="mobile-nav-main">
          <li>
            <a href="/">USA Crypto Coins</a>
          </li>
          <li>
            <a href="/contact/">Contact us/Order coins</a>
          </li>
          <li>
            <a href="/testimonials/">Reviews</a>
          </li>
          <li>
            <a href="/thecryptocurrencytimes/">The Cryptocurrency Times</a>
          </li>
          <li>
            <a href="/doge-coin-faucet/">Doge Coin Faucet</a>
          </li>
        </ul>

      </div>

      <div class="social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>

    </div>
  </section>