<section id="author">


    <div class="author_card">

        <div class="author_info">
            <h3>About the Author:
                <br>
                <span>Rafael Yakobi</span></h3>
            <img src="/images/line_h2.svg" alt="">

            <p>Rafael Yakobi is Managing Attorney at <a href="https://thecryptolawyers.com/" target="_blank">The Crypto Lawyers</a>, where he has worked for a
            wide array of clients, including Bitcoin.com, BuyBitcoinWorldWide, Binance, and Billfodl, among others. You can contact
            The Crypto Lawyers for your crypto law needs <a href="https://thecryptolawyers.com/contact-us/" target="_blank">here</a>, or <a href="https://twitter.com/CACryptoLawyer" target="_blank">follow Rafael on Twitter</a> or connect with him on
            <a href="https://www.linkedin.com/in/rafaelyakobi" target="_blank">linkedin</a>.</p>
        </div>
        <!--author_info-->

        <div class="author_card_image">
            <img src="/images/rafael.png">
        </div>
        <!--image-->

    </div>
</section>