<section id="author">


    <div class="author_card">

        <div class="author_info">
            <h3>About the Author:
                <br>
                <span>Scott Wehman</span></h3>
            <img src="/images/line_h2.svg" alt="">
            <p>Scott is a freelance writer and researcher studying the link between human traffickers' and sex workers' use of Bitcoin. <a
                    href="https://twitter.com/scott_wehman?lang=en" target="_blank" rel="nofollow">Follow him</a> on twitter.</p>
        </div>
        <!--author_info-->

        <div class="author_card_image">
            <img src="/images/scott.png">
        </div>
        <!--image-->

    </div>
</section>