<section id="author">


    <div class="author_card">

        <div class="author_info">
            <h3>About the Author:
                <br>
                <span>Vlad Costea</span></h3>
            <img src="/images/line_h2.svg" alt="">
            <p>Vlad is a freelance Bitcoin writer and also the host of the <a href="https://bitcoin-takeover.com/"
                    target="_blank">Bitcoin Takeover Podcast</a>. <a
                    href="https://twitter.com/TheVladCostea" target="_blank" rel="nofollow">Follow him</a> on twitter.</p>
        </div>
        <!--author_info-->

        <div class="author_card_image">
            <img src="/images/vlad.png">
        </div>
        <!--image-->

    </div>
</section>